body{
    margin: 0;
    padding: 0;
}

header { background-color: aqua;

}
#items-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    gap: 15px;   
}

a {text-emphasis: none;
color: white;
}