*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.barra {
    display: flex;
    flex-direction: row-reverse;
    border: solid black;
}

.caja_1 {
    display: inline-flex;
    
}

.caja_grande {
    background-color: aqua;
}

.caja_mitad {
    margin-top: 300px;
}

.center {
    background-color: greenyellow;
    margin: 10px;
    border-radius: 10%;
    border: dashed black;
    padding: 15px;
    
}

header {background-color: yellow;}
main {background-color: blue;}
footer {background-color: red;}



#imagen_tesoro {
    height: 150px;
    width: 350px;
    border: solid black;
    border-bottom: solid 30px;
    padding: 10px;
   
   }

.center2 {
    display: flex;
    justify-content: center;
    
}

footer {

    margin-top: 349px;
   
}
.pie1 {
    display: flex;
    
}
.pie2 {
    display: flex;
    justify-content: space-between;
    
}

.pie2-1 {
    display: flex;   
}
.pie2-2 {
    display: flex;   
}